@import "layout/var";

.schedule {
  background: url('../img/world.png') no-repeat top 480px center;
  background-size: 100%;
  padding-bottom: 60px;

  @media (max-width: $sm) {
    padding-bottom: 24px;
  }

  @media (max-width: $xs) {
    padding-bottom: 16px;
  }

  &__title {
    padding-top: 60px;

    @media (max-width: $md) {
      padding-top: 35px;
    }

    @media (max-width: $sm) {
      padding-top: 24px;
    }

    @media (max-width: $xs) {
      padding-top: 16px;
    }

    &+.schedule__table {
      margin-top: 60px;

      @media (max-width: $md) {
        margin-top: 30px;
      }

      @media (max-width: $xs) {
        margin-top: 16px;
      }
    }
  }

  &__subtitle {
    margin-top: 16px;
    font-size: 18px;
    line-height: 25px;

    @media (max-width: $sm) {
      font-size: 16px;
      line-height: 20px;
    }

    @media (max-width: $xs) {
      font-size: 14px;
      line-height: 18px;
    }

    &+.schedule__table {
      margin-top: 32px;

      @media (max-width: $xs) {
        margin-top: 16px;
      }
    }
  }

  &__top {
    display: flex;
    align-items: center;
    margin-top: 42px;

    @media (max-width: $md) {
      margin-top: 35px;
    }

    @media (max-width: $sm) {
      margin-top: 16px;
    }

    @media (max-width: $xs) {
      flex-direction: column;
    }
  }

  &__video {
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.4);
    width: 50%;
    height: 493px;
    background: white;
    flex-shrink: 0;

    @media (max-width: 1699px) {
      height: 445px;
    }

    @media (max-width: 1479px) {
      height: 375px;
    }

    @media (max-width: $md) {
      height: 295px;
    }

    @media (max-width: $sm) {
      height: 225px;
    }

    @media (max-width: $xs) {
      width: 100%;
    }

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    margin-left: 40px;
    text-align: justify;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 73px;

    @media (max-width: $md) {
      margin-left: 32px;
      font-size: 14px;
      line-height: 18px;
    }

    @media (max-width: $sm) {
      padding-bottom: 0;
    }

    @media (max-width: $xs) {
      margin: 16px 0 0;
      font-size: 14px;
      line-height: 18px;
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
      margin-bottom: 16px;

      @media (max-width: $md) {
        font-size: 18px;
      }

      @media (max-width: $xs) {
        font-size: 16px;
        margin-bottom: 10px;
      }
    }

    p {
      margin-bottom: 16px;

      @media (max-width: $xs) {
        margin-bottom: 10px;
      }
    }
  }


  &__table {
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.05);
    margin-top: 24px;
    padding-bottom: 1px;

    @media (max-width: $xs) {
      margin-top: 16px;
    }
  }

  &__table-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    padding: 24px 24px 16px;

    @media (max-width: 1479px) {
      font-size: 18px;
      padding: 16px 24px;
    }

    @media (max-width: $md) {
      font-size: 16px;
      line-height: 20px;
    }

    @media (max-width: $sm) {
      padding: 15px;
    }

    @media (max-width: $xs) {
      padding: 10px 5px;
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__table-head {
    background: #F2F2F2;
    display: flex;
    align-items: center;

    &+.schedule__row {
      border-top: 0;
    }
  }

  &__th {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    flex-shrink: 0;
    padding: 10px 0 10px 24px;

    @media (max-width: $md) {
      font-size: 14px;
      line-height: 18px;
    }

    @media (max-width: $sm) {
      padding-left: 15px;
    }

    @media (max-width: $xs) {
      padding-left: 5px;
    }

    &:nth-child(1) {
      width: 20%;

      @media (max-width: $sm) {
        width: 23%;
      }

      @media (max-width: $xs) {
        width: 33%;
      }
    }

    &:nth-child(2) {
      width: 18%;

      @media (max-width: $sm) {
        width: 20%;
      }

      @media (max-width: $xs) {
        width: 28%;
      }
    }

    &:nth-child(4) {
      margin-left: auto;
      width: 316px;
      padding-left: 0;

      @media (max-width: 1479px) {
        width: 250px;
      }

      @media (max-width: $md) {
        width: 220px;
      }

      @media (max-width: $sm) {
        width: 215px;
        text-align: center;
        padding-right: 15px;
      }

      @media (max-width: $xs) {
        display: none;
      }
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px solid rgba(196, 196, 196, 0.5);
  }

  &__td {
    font-size: 18px;
    line-height: 25px;
    flex-shrink: 0;
    padding: 10px 0 10px 24px;

    @media (max-width: 1479px) {
      font-size: 16px;
      line-height: 20px;
    }

    @media (max-width: $md) {
      font-size: 14px;
    }

    @media (max-width: $sm) {
      padding-left: 15px;
    }

    @media (max-width: $xs) {
      padding-left: 5px;
      font-size: 12px;
    }

    &:nth-child(1) {
      width: 20%;

      @media (max-width: $sm) {
        width: 23%;
      }

      @media (max-width: $xs) {
        width: 33%;
      }
    }

    &:nth-child(2) {
      width: 18%;

      @media (max-width: $sm) {
        width: 20%;
      }

      @media (max-width: $xs) {
        width: 28%;
      }
    }
  }

  &__buttons {
    display: flex;
    margin-left: auto;
    padding: 16px 0;

    @media (max-width: $sm) {
      flex-direction: column;
      align-items: center;
      padding: 10px 0;
    }

    @media (max-width: $xs) {
      width: 100%;
      flex-direction: row;
      padding-top: 0;
      justify-content: center;
    }
  }

  &__button {
    height: 46px;
    cursor: pointer;
    margin-right: 32px;
    width: 219px;
    font-size: 18px;
    line-height: 25px;
    box-shadow: none;

    @media (max-width: 1479px) {
      font-size: 16px;
      width: 170px;
      margin-right: 24px;
    }

    @media (max-width: $md) {
      font-size: 14px;
      width: 150px;
    }

    @media (max-width: $sm) {
      height: 32px;
      margin-right: 15px;
    }

    @media (max-width: $xs) {
      margin-right: 0;
      flex-shrink: 0;
      font-size: 13px;
      width: 100px;
    }

    &:before {
      height: 44px;
      background: #3AABCE;

      @media (max-width: $sm) {
        height: 30px;
      }
    }
    &:after {
      height: 44px;

      @media (max-width: $sm) {
        height: 30px;
      }
    }

    &--online {
      width: 287px;

      @media (max-width: 1479px) {
        width: 230px;
      }

      @media (max-width: $md) {
        width: 200px;
      }

      @media (max-width: $sm) {
        margin-top: 5px;
      }

      @media (max-width: $xs) {
        margin-top: 0;
        width: 175px;
        margin-left: 10px;
      }

      &:before {
        background: $blue;
      }
    }

    &--disabled, &[disabled] {
      cursor: default;

      &:before {
        background: #E5E5E5;
      }
      &:after {
        background: #AFB0B5;
      }
    }
  }

  &__table-note {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin-top: 24px;

    @media (max-width: $md) {
      margin-top: 16px;
      font-size: 14px;
    }

    @media (max-width: $sm) {
      margin-top: 4px;
    }
  }

  &__big-button {
    margin: 40px auto 32px;
    width: 300px;

    @media (max-width: $md) {
      width: 250px;
      height: 46px;
      margin: 24px auto;

      &:before, &:after {
        height: 44px;
      }
    }

    @media (max-width: $sm) {
      font-size: 18px;
      margin: 16px auto;
    }
  }
}