@import "layout/var";

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: black;
    margin: 0;
    padding: 0;
    background: white;
    position: relative;

    &.modal-opened {
        overflow: hidden;
    }
}

p {
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}
header, footer, section, div, span, p, button, a, input, textarea, form {
    box-sizing: border-box;
}

button,input,textarea,select{
    outline: none;
}
button {
    padding: 0;
    border: 0;
    background-color: transparent;
    transition: 0.3s;
}
a {
    text-decoration: none;
    transition: 0.3s;
}

a:focus {
    outline: none;
}

form {
    margin: 0;
}

footer {
    margin: 0;
    padding: 0;
}





.container {
    width: 1620px;
    max-width: 100%;
    margin: 0 auto;

    @media (max-width: 1699px) {
        width: 1420px;
    }

    @media (max-width: 1479px) {
        width: 1140px;
    }

    @media (max-width: $md) {
        width: 940px;
    }

    @media (max-width: $sm) {
        width: 720px;
    }

    @media (max-width: $xs) {
        width: 100%;
        padding: 0 15px;
    }
}

.top {
    width: 100%;
    background: url('../img/top.jpg') no-repeat center top;
    background-size: cover;
    transition: 0.3s;
    position: fixed;
    height: 934px;
    top: 0;

    @media (max-width: 1479px) {
        height: 750px;
    }

    @media (max-width: $md) {
        height: 630px;
    }

    @media (max-width: $sm) {
        height: 580px;
    }

    @media (max-width: $xs) {
        height: auto;
        position: relative;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180.64deg, #051E75 6.31%, rgba(0, 56, 255, 0) 119.16%);
    }
}

.button {
    height: 84px;
    border-radius: 40px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    position: relative;
    overflow: hidden;
    display: block;

    @media (max-width: $md) {
        height: 64px;
    }

    @media (max-width: $xs) {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    }

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 80px;
        border-radius: 40px;
        background: $blue;
        z-index: 2;
        transition: 0.3s;

        @media (max-width: $md) {
            height: 60px;
        }
    }

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 80px;
        border-radius: 40px;
        background: #4769E0;
        z-index: 1;

        @media (max-width: $md) {
            height: 60px;
        }
    }

    span {
        z-index: 2;
        position: relative;
    }

    &:hover {
        &:before {
            top: -100%;
        }
    }
}

.page {
    position: relative;
    z-index: 3;
    margin-top: 784px;
    overflow: hidden;
    padding-top: 150px;

    @media (max-width: 1479px) {
        margin-top: 600px;
    }

    @media (max-width: $md) {
        margin-top: 480px;
    }

    @media (max-width: $sm) {
        margin-top: 430px;
    }

    @media (max-width: $xs) {
        margin-top: 0;
        padding-top: 0;
    }
}

.title {
    font-family: $titleFont;
    font-size: 48px;
    line-height: 56px;
    padding-top: 100px;

    @media (max-width: 1479px) {
        padding-top: 75px;
    }

    @media (max-width: $md) {
        padding-top: 35px;
        font-size: 36px;
        line-height: 40px;
    }

    @media (max-width: $sm) {
        padding-top: 30px;
    }

    @media (max-width: $xs) {
        font-size: 24px;
        line-height: 30px;
        padding-top: 15px;
    }

    strong {
        font-family: $titleFontBold;
        display: block;
    }
}

.subtitle {
    font-size: 16px;
    line-height: 22px;
    color: #403F3F;
    margin-top: 32px;
    max-width: 873px;

    @media (max-width: $md) {
        margin-top: 16px;
        font-size: 14px;
        max-width: 600px;
    }

    @media (max-width: $xs) {
        max-width: 100%;
        margin-top: 10px;
    }
}

.we {
    background: white url('../img/world.png') no-repeat top 53px center;
    background-size: 100%;

    .container {
        overflow: hidden;
    }
}
