@import "layout/var";

.boats {
  margin-top: 95px;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $md) {
    margin-top: 35px;
  }

  @media (max-width: $sm) {
    margin-top: 30px;
  }

  @media (max-width: $xs) {
    margin-top: 0;
  }

  &__item {
    width: 32%;
    flex-shrink: 0;
    margin-right: 2%;
    margin-bottom: 60px;
    transition: 0.3s;

    @media (max-width: $md) {
      margin-bottom: 35px;
    }

    @media (max-width: $sm) {
      margin-bottom: 20px;
    }

    @media (max-width: $xs) {
      width: 100%;
    }

    &:nth-child(3n+3) {
      margin-right: 0;
    }

    &--hidden {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 182px;

    @media (max-width: $sm) {
      height: 145px;
    }

    img {
      max-width: 75%;
      max-height: 100%;
    }
  }

  &__name {
    margin-top: 8px;
    font-size: 24px;
    line-height: 33px;

    @media (max-width: $md) {
      font-size: 18px;
      line-height: 24px;
    }

    strong {
      display: block;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media (max-width: $sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__people {
    position: relative;
    padding: 6px 0 0 48px;
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 22px;

    @media (max-width: $md) {
      font-size: 12px;
    }

    @media (max-width: $sm) {
      margin: 10px 0 0;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 32px;
      height: 32px;
      background: url('../img/boat-people.svg');
    }
  }

  &__price {
    font-size: 18px;
    line-height: 25px;

    @media (max-width: $md) {
      font-size: 14px;
    }

    @media (max-width: $sm) {
      align-self: flex-end;
    }

    span {
      font-weight: bold;
      font-size: 36px;
      line-height: 49px;
      margin-left: 8px;

      @media (max-width: $md) {
        font-size: 24px;
        margin-left: 0;
      }

      @media (max-width: $sm) {
        line-height: 24px;
      }
    }
  }

  &__description {
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    color: #9B9B9B;
    margin-top: 24px;

    @media (max-width: $md) {
      margin-top: 10px;
    }

    @media (max-width: $sm) {
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__more-wrap {
    text-align: center;
  }

  &__more {
    font-size: 24px;
    line-height: 33px;
    color: black;

    @media (max-width: $md) {
      font-size: 18px;
    }

    &:hover {
      color: $blue;
    }
  }
}