@import "layout/var";

.reviews {
  background: white url('../img/world.png') no-repeat top -30px center;
  background-size: 100%;
  padding-top: 50px;

  @media (max-width: $md) {
    padding-top: 35px;
  }

  @media (max-width: $xs) {
    padding-top: 15px;
  }

  &__flex {
    display: flex;
    align-items: center;

    @media (max-width: $xs) {
      flex-direction: column;
      margin-top: 15px;
    }
  }

  &__left {
    width: 50%;
    overflow: hidden;
    height: 1185px;
    padding-top: 230px;

    @media (max-width: 1699px) {
      height: 1120px;
    }

    @media (max-width: 1479px) {
      padding-top: 150px;
      height: 900px;
    }

    @media (max-width: $md) {
      height: 750px;
    }

    @media (max-width: $sm) {
      padding-top: 100px;
      height: 550px;
    }

    @media (max-width: $xs) {
      width: 290px;
      height: auto;
      padding-top: 0;
      margin: 0 auto;
    }
  }

  &__slider-phones {
    overflow: visible;

    @media (max-width: $xs) {
      overflow: hidden;
    }

    .slick-list {
      overflow: visible;

      @media (max-width: $xs) {
        overflow: hidden;
      }
    }
  }

  &__slide-phones {
    width: 373px;
    height: 753px;
    transition: 0.3s;
    position: relative;

    @media (max-width: 1479px) {
      height: 576px;
    }

    @media (max-width: $md) {
      height: 475px;
    }

    @media (max-width: $sm) {
      height: 390px;
    }

    @media (max-width: $xs) {
      width: 290px;
      height: 500px;
    }

    &.slick-current {
      transform: scale(1.6) translateX(50px);
      z-index: 100;

      @media (max-width: $sm) {
        transform: scale(1.6) translateX(30px);
      }

      @media (max-width: $xs) {
        transform: translateX(-20px);
      }
    }
  }

  &__img {
    width: 270px;
    height: 580px;
    background-size: cover;
    position: absolute;
    right: 20px;
    top: 46px;

    @media (max-width: 1699px) {
      top: 73px;
      right: 9px;
      width: 249px;
      height: 533px;
    }

    @media (max-width: 1479px) {
      top: 56px;
      right: 14px;
      width: 190px;
      height: 405px;
    }

    @media (max-width: $md) {
      top: 45px;
      right: 11px;
      width: 158px;
      height: 338px;
    }

    @media (max-width: $sm) {
      top: 38px;
      right: 2px;
      width: 130px;
      height: 275px;
    }

    @media (max-width: $xs) {
      top: 13px;
      right: 14px;
      width: 195px;
      height: 418px;
    }
  }

  &__phone {
    width: 100%;
    height: 100%;
    background: url('../img/reviews-phone.png') center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__right {
    width: 50%;
    position: relative;

    @media (max-width: 1699px) {
      margin-top: 130px;
    }

    @media (max-width: 1479px) {
      margin-top: 50px;
    }

    @media (max-width: $xs) {
      margin-top: 15px;
      width: 100%;
    }
  }

  &__slider-text {

    .slick-arrow {
      display: block;
      width: 54px;
      height: 54px;
      background: transparent;
      border: 1px solid $blue;
      border-radius: 50%;
      position: absolute;
      color: transparent;
      font-size: 0;
      top: 100%;
      margin-left: 100px;
      cursor: pointer;
      transition: 0.3s;

      @media (max-width: $md) {
        width: 44px;
        height: 44px;
        margin-left: 50px;
      }

      @media (max-width: $sm) {
        width: 30px;
        height: 30px;
      }

      @media (max-width: $xs) {
        margin-left: 0;
      }

      &:before {
        content: '';
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: $blue;
        position: absolute;
        top: 10px;
        left: 10px;
        transition: 0.3s;

        @media (max-width: $md) {
          width: 24px;
          height: 24px;
          top: 9px;
          left: 9px;
        }

        @media (max-width: $sm) {
          width: 18px;
          height: 18px;
          top: 5px;
          left: 5px;
        }
      }

      &:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        border-style: solid;
        border-color: transparent white transparent transparent;
        border-width: 6.5px 7px 6.5px 0;
        top: 20px;
        left: 21px;
        transition: 0.3s;

        @media (max-width: $md) {
          border-width: 5.5px 6px 5.5px 0;
          top: 16px;
          left: 17px;
        }

        @media (max-width: $sm) {
          top: 9px;
          left: 10px;
        }
      }

      &:hover {
        border-color: $blue;

        &:before {
          background: white;
        }
      }

      &.slick-prev {
        right: calc(50% + 60px);
        z-index: 100;

        @media (max-width: $sm) {
          right: calc(50% + 30px);
        }

        &:hover {
          &:after {
            border-color: transparent $blue transparent transparent;
          }
        }
      }

      &.slick-next {
        left: calc(50% + 60px);
        z-index: 100;

        @media (max-width: $sm) {
          left: calc(50% + 30px);
        }

        &:after {
          border-color: transparent transparent transparent white;
          border-width: 6.5px 0 6.5px 7px;
          left: 23px;

          @media (max-width: $md) {
            border-width: 5.5px 0 5.5px 6px;
            left: 19px;
          }

          @media (max-width: $sm) {
            left: 12px;
          }
        }

        &:hover {
          &:after {
            border-color: transparent transparent transparent $blue;
          }
        }
      }
    }
  }

  &__slide-text {
    padding-left: 100px;
    display: flex!important;
    flex-direction: column;

    @media (max-width: $md) {
      padding-left: 50px;
    }

    @media (max-width: $xs) {
      padding-left: 0;
    }
  }

  &__title {
    font-family: $titleFont;
    font-size: 36px;
    line-height: 42px;

    @media (max-width: 1479px) {
      font-size: 30px;
      line-height: 38px;
    }

    @media (max-width: $sm) {
      font-size: 24px;
      line-height: 30px;
    }

    @media (max-width: $xs) {
      font-size: 18px;
      line-height: 24px;
    }

    strong {
      display: block;
      font-family: $titleFontBold;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 33px;
    text-align: justify;
    margin-top: 76px;

    @media (max-width: 1479px) {
      font-size: 18px;
      line-height: 24px;
      margin-top: 35px;
    }

    @media (max-width: $sm) {
      font-size: 14px;
      line-height: 18px;
      margin-top: 20px;
    }
  }

  &__name {
    margin-top: 32px;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 32px;

    @media (max-width: 1479px) {
      font-size: 24px;
      line-height: 36px;
    }

    @media (max-width: $sm) {
      margin-top: 20px;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 20px;
    }

    small {
      display: block;
      font-size: 14px;
      line-height: 19px;
      font-weight: normal;

      @media (max-width: $sm) {
        font-size: 12px;
      }
    }
  }

  &__insta {
    display: block;
    margin-top: auto;
    width: 364px;
    height: 57px;
    background: linear-gradient(83.62deg, #FFD855 -5.49%, #FC5345 46.67%, #CA38A9 108.31%);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
    border-radius: 40px;
    color: white;
    font-size: 24px;
    line-height: 33px;
    position: relative;
    padding: 12px 0 0 32px;
    margin-bottom: 50px;

    @media (max-width: $md) {
      box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
      margin-bottom: 30px;
    }

    @media (max-width: $sm) {
      width: 250px;
      height: 40px;
      font-size: 16px;
      padding: 4px 0 0 24px;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
      margin-bottom: 15px;
    }

    @media (max-width: $xs) {
      margin-left: 8px;
    }

    &:after {
      content: '';
      display: block;
      width: 39px;
      height: 39px;
      background: url('../img/reviews-insta.svg');
      position: absolute;
      top: 8px;
      right: 41px;

      @media (max-width: $sm) {
        background-size: cover;
        width: 24px;
        height: 24px;
        right: 30px;
      }
    }

    strong {
      margin-left: 16px;

      @media (max-width: $sm) {
        margin-left: 8px;
      }
    }
  }

  &__nums {
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    margin-top: 10px;
    margin-left: 100px;

    @media (max-width: $md) {
      margin-left: 50px;
    }

    @media (max-width: $sm) {
      font-size: 14px;
      margin-top: 0;
    }

    @media (max-width: $xs) {
      margin-left: 0;
    }
  }
}